.bg-custom{
    width: 24rem;
}

input, textarea, select{
    border: none !important;
    border-bottom: 2px solid var(--text-color) !important;
    background: none !important;
    color: var(--text-dark)!important;
   
}
label{
    color: var(--gscuro-color);
}

.wbotton{
    width: 3 rem;
}

.input-search-bar {
    border-bottom: none !important;
}

.btn-locale{
    border: none;
    background-color: var(--text-color);
}

form{
    font-size: 80%;
    font-weight: bold;
}

.input-size{
    font-size: 100%;
}


.altezza-card-form{
    height: 30rem;
}