.margine-dettaglio{
    margin-top: 2rem;
}

.container-show{
    border-radius: 1rem;
    background-color: white;
}

.description-scrollable {
    max-height: 350px;
    overflow-y: auto;
    margin-top: 2rem;
  }